@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('./HorrorFont-Regular.ttf');
@font-face {
    font-family: Prasad-new;
    src: url('./HorrorFont-Regular.ttf');
}

body{
    /* background-image: linear-gradient(45deg,orange,tomato,orange,tomato,orange,tomato,orange,tomato); */
    /* background-image: radial-gradient(orange,tomato,orange,tomato,orange,tomato,orange,tomato,orange,tomato); */
/* background: conic-gradient(red,10deg, orange,50deg, yellow, 90deg,green, blue); */
color: green;
font-family: prasad-new;
/* height: 100vh;
background-image: url('https://ew.com/thmb/qsFZNFlDpw9jGYQSRzcI7QTnO3M=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/marvel-characters-6cb294bb61454bb29664a4718e0dd17e.jpg');
background-repeat: no-repeat;
background-position: top;
background-size: cover;
background-position: fixed; */
}